@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
	margin: 0;
	background-color: white;
	font-family: Raleway, sans-serif;
}

.header {
	height: 800px;
	width: auto;
}
.header img {
	width: 100%;
	height: auto;
	background-size: cover;
}

.navbar1 {
	width: 100%;
	height: 120px;
	background-color: #aacfd0;
	position: fixed;
	top: 0;
	opacity: .95
}
.navbar1 h1:hover {
	color: #333;
}

.navbar2 {
	width: 100%;
	height: 120px;
	background-color: #F29DF1;
	position: fixed;
	top: 0;
	opacity: .95
}
.navbar2 h1:hover {
	color: #333;
}

.navbar3 {
	width: 100%;
	height: 120px;
	background-color: #F68657;
	position: fixed;
	top: 0;
	opacity: .95
}
.navbar3 h1:hover {
	color: #333;
}

.fghlogo img {
	width: 120px;
	height: 120px;
	float: left;
}

.socialicons img {
	width: 70px;
	height: auto;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	transition: all .2s ease-in-out;
}

.socialicons img:hover {
	width: 90px;
	height: auto;
}

.cause1 {
	float: right;
}

.cause1 a {
	text-decoration: none;
}

.cause1 h1 {
	color: white;
	font-size: 20px;
	margin-top: 47px;
	margin-right: 50px;

}
.body {
	width: 100%;
	height: 900px;
	background-color: black;
	margin: 0;
	float: left;
}

.donatebutton {
	width: 330px;
	height: 80px;
	background-color: #333;
	position: fixed;
	opacity: .5;
	border-radius: 5px;
	top: 75%;
	right: 3%;
}

.donatebutton1 {
	width: 330px;
	height: 80px;
	background-color: none;
	position: fixed;
	color: #aacfd0;
	border-radius: 5px;
	top: 75%;
	right: 3%;
	text-align: center;
}

.donatebutton1:hover {
	background-color: #00ff00;
	color: #333;
}

.footer {
	width: 100%;
	height: 10px;
	background-color: black;
	color: white;
	margin: 0;
	float: left;
	text-align: center;
	padding: 3% 0;
}
.footer p{
	height: 100%;
	margin:0;
}
